* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/halloween.jpg);
    background-size: cover; /* This property ensures the image covers the whole background */
}

body {
    font-family: 'Creepster', cursive; font-size: 36px;
    font-size: 36px;
    color: #e11317;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
    /* Use flex, wrap, space-between to align section for Hall-of-fame and Timer to adjusted by viewpoint */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: magenta;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.BtnHallofFame {
    font-family: 'Creepster', cursive; font-size: 36px;
    background-color: aliceblue;
    color: magenta;
    border-radius: 10px;
    border: 2px; outline: 2px;
    text-decoration: solid;
}

.Btn {
    font-family: 'Creepster', cursive; font-size: 36px;
    background-color: rgb(100, 67, 180);
    color: #e11317;
    border-radius: 15px;
    border: 2px; outline: 2px;
    text-decoration: none;
}

#main {
    font-family: 'Creepster', cursive; font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    /* Use flex-direction to align questions vertically */
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
/* Use grid layout to align body section */
/* External source: https://www.w3schools.com/css/css_grid_item.asp, https://www.w3schools.com/css/css_grid_container.asp */
#maintemplate {
    font-family: 'Creepster', cursive; font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 10px 10px;
}

#Questionaire {
    text-align: center;
    align-self: baseline;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    place-self: center;
    font-size: 30px;
}

#Finalscore {
    grid-column: 1 / span 2;
    grid-row: 6 / span 5;
    font-size: 15px;
}

#Initial {
    grid-column: 1 / span 1;
    grid-row: 7 / span 5;
    font-size: 15px;
}