* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Creepster', cursive; font-size: 36px;
    color: #e11317;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* image with Halloween theme covers the whole background */
    background-image: url(./images/halloween.jpg);
    background-size: cover;
}

header {
    /* Use flex, wrap, space-between to align section for Hall-of-fame and Timer to adjusted by viewpoint */
    font-family: 'Creepster', cursive; font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: magenta;
    list-style: none;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
    /* Indicate the best record by using local storage */
.BtnHallofFame {
    font-family: 'Creepster', cursive; font-size: 50px;
    background-color: rgb(13, 40, 64);
    color: magenta;
    border-radius: 15px;
    border: 2px; outline: 2px;
}

.BtnHallofFame:hover {
    background-color: aquamarine;
}

.Btn {
    font-family: 'Creepster', cursive; font-size: 15px;
    background-color: rgb(100, 67, 180);
    color: #e11317;
    border-radius: 15px;
}

#main {
    font-family: 'Creepster', cursive; font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    /* Use flex-direction to align questions vertically */
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
/* Use grid layout to align body section */
/* External source: https://www.w3schools.com/css/css_grid_item.asp, https://www.w3schools.com/css/css_grid_container.asp */
#maintemplate {
    font-family: 'Creepster', cursive; font-size: 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 10px 10px;
}
/* Indicates whether the answer listed is correct or not */
#booleantemplate {
    font-family: 'Creepster', cursive; font-size: 36px;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 100px;
}
/* Opening line for the game */
#Introduction {
    text-align: center;
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    place-self: center;
    font-size: 50px;
}
/* Indicates the final score of the game */
#Finalscore {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    font-size: 25px;
}
/* textbox to fill the player's initial */
#Initial {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    font-size: 25px;
}

#Initialtext {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    font-size: 25px;
    resize: none;
}
/* Button to commence the game */
#BeginQuiz {
    font-family: 'Creepster', cursive; font-size: 25px;
    background-color: yellow;
    color: black;
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: 2px; outline: 2px;
    place-self: center;
}

/* Button to indicate 4 Choices for answer */
#MultipleChoice1 {
    font-family: 'Creepster', cursive; font-size: 25px;
    background-color: lightskyblue;
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    padding: 10px 10px 10px 10px;
    border: 2px; outline: 2px;
    margin-left: 25px;
}

#MultipleChoice2 {
    font-family: 'Creepster', cursive; font-size: 25px;
    background-color: lightskyblue;
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    padding: 10px 10px 10px 10px;
    border: 2px; outline: 2px;
    margin-left: 25px;
}

#MultipleChoice3 {
    font-family: 'Creepster', cursive; font-size: 25px;
    background-color: lightskyblue;
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border: 2px; outline: 2px;
    margin-left: 25px;
}

#MultipleChoice4 {
    font-family: 'Creepster', cursive; font-size: 25px;
    background-color: lightskyblue;
    grid-column: 1 / span 2;
    grid-row: 8 / span 1;
    padding: 10px 10px 10px 10px;
    border: 2px; outline: 2px;
    margin-left: 25px;
}

/* Button to submit the player's initial */
#Submit {
    font-family: 'Creepster', cursive; font-size: 25px;
    background-color: whitesmoke;
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border: 2px; outline: 2px;
}

/* Indicates whether the answer listed is correct or not */
#booleanvalue {
    text-align: left;
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}
/* Resize screen under 1200px will apply following condition */
@media screen and (max-width: 1200px) {
    header {
        background-color: red;
    }
}
/* Resize screen under 830px will apply following condition */
@media screen and (max-width: 830px) {
    #maintemplate {
        background-color: green;
    }
}
